[project]
	description = Common device folder used for Samsung devices that use msm8974 chipset
[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group slim_hlte
	label-Code-Review = -2..+2 group slim_mondrianwifi
	label-Verified = -1..+1 group slim_hlte
	label-Verified = -1..+1 group slim_mondrianwifi
	submit = group slim_hlte
	submit = group slim_mondrianwifi
